body{
	margin: 0;
	background-color: #fafae9;
}
.content{
	width: 1000px;
	margin: 0 auto;
}
/* 顶部标题样式 */
.title{
	height: 100px;
	font-size: 32px;
	color: #076ce0;
	font-weight: normal;
	line-height: 120px;
}

/* 导航栏样式 */

.navbar{
	background-color: #7eade2;
	height: 50px;
}
.navbar_ul{
	list-style: none;
	padding: 0;
}
.navbar_ul li{
	float: left;
	margin: 0 20px;
}
.navbar_ul li a{
	display: block;
	height: 50px;
	width: 100px;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	background-color: #7eade2;
	color: #fff;
	font-weight: normal;;
	line-height: 50px;
}
.navbar_ul li a .active{
	background-color: #0c72e6;
}
.navbar_ul li a:hover{
	background-color: #0c72e6;
}
/* 固定导航栏样式 */

.fixed{ 
	position: fixed;
	width: 1000px;  
	top: 0;
	left: 0;
	right:0; 
	margin:auto !important;  
	z-index: 10000; 
	float:none !important; 
}

/* 轮播图样式 */

.banner{
	position: relative;
}
.slide{
	width: 1000px;
	height: 562px;
	position:relative;
	overflow:hidden;
}
.slide .slide_pics{
	position: relative;
	left: 0;
	top: 0;
	width: 1000px;
	height: 600px;
	padding: 0;
	margin: 0;
}
.slide .slide_pics li{
	width: 1000px;
	height: 600px;
	position: absolute;
	left: 0;
	top: 0;
}
.prev,.next{
	width: 40px;
	height: 40px;
	background:url(../images/icons.png) no-repeat 0 -40px;
	position:absolute;
	left:11px;
	top: 50%;
	margin-top: -30px;
	cursor:pointer;
}
.next{
	background-position:0 -80px;
	left: 970px;
}

/* 文章列表样式 */

.article_top{
	height: 50px;
	border-bottom: 1px solid #999;
	line-height: 70px;
}
.article_top span{
	color: #076ce0;
}
.more{
	float: right;
	font-size: 12px;
	text-decoration: none;
	color: #000;
}
.more:hover{
	color: #666
}
.article_list{
	list-style: none;
	padding: 0;
}
.article_list li{
	height: 111px;
	margin-bottom: 20px;
	text-indent: 140px;
}
.article_list li a{
	text-decoration: none;
}
.article_title{
	font-weight: normal;
	font-size: 22px;
	color: #076ce0;
}
.article_time{
	float: right;
	color: #000;
}
.article_summary{
	font-size: 12px;
	color: #666;
	display: block;
	margin-top: 2px;
}
/* 底部信息样式 */
.bottom{
	width: 100%;
	background-color: #999999;

}
.bottom_info{
	height: 245px;
	width: 1000px;
	margin: 0 auto;
	position: relative;
	background: url(../images/interval_line.png) no-repeat 510px 0;
}
.first{
	position: absolute;
	top: 100px;
	font-size: 28px;
	color: #076ce0;
	font-weight: normal; 
}
.second{
	position: absolute;
	top: 130px;
	font-size: 28px;
	color: #076ce0;
	font-weight: normal; 
}
.motto{
	position: absolute;
	left: 25%;
	top: 50%;
	font-size: 16px;
	color: rgb(169, 169, 169);
}
.web_info{
	position: absolute;
	left: 80%;
	top: 80%;
	font-size: 16px;
	color: rgb(169, 169, 169);
}
/* 分页样式 */

.page{
	height:32px;
	text-align:center;
	font-size:0;
	margin:30px auto;
}
.page a{
	display:inline-block;
	background-color: #f0e9e1;
	padding: 0 6px;
	color: #666;
	margin: 5px 5px;
	border-radius: 50%;
	text-decoration: none;
	font: bold 16px/22px 'Microsoft Yahei';
}

.page .active{
	background-color: #e59395;
	color: #fff;
}

.to_prev_next{
    width: 1000px;
}
.to_prev,.to_next{
	font-size: 16px;
	text-decoration: none;
	font-weight: normal;
    color: black;
}
.to_next,.to_prev:hover{
	color: #BB6688;
}

.to_prev{
	float: left;
}
.to_next{
	float: right;
}
.back_to_top{
	display: none;
	position: fixed;
    bottom: 100px;
    right:  50px;
	width: 50px;
	height: 50px;
	background: url(../images/to_top.png) -5px -6px;
}
.content_detail{
	width: 1200px;
	margin: 0 auto;
}
.contact_me{
	position: fixed;
	left: 90%;
	top: 50px;
	width: 50px;
	height: 47px;
	background: url(../images/weixin.jpg);
}
#contact_me{
	position: fixed;
	display: none;
	left: 78%;
	top: 80px;
	width: 250px;
	height: 250px;
	background: url(../images/weixin2.jpg);
}
